@model doan_htttdn.FF.ARTICLE
@{
    ViewBag.Title = "EditAr";
    Layout = "~/Areas/USER/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("EditAr", "TinTuc", FormMethod.Post))
    {<div  style="border:1px">
         <div class="form-group">
             <h3 style="text-align:center">ID_Article :</h3>
             @Html.TextBoxFor(x => x.ID_Article, new { @class = "form-control" })
             
         </div>
         <div class="form-group">
             
                 <p>
                     <h3 style="text-align:center">Title :</h3>
                 </p>
             
             @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            
         </div>
            <div>
                <p>
                    <h3 style="text-align:center">Summary :</h3>
                </p>
                @Html.TextBoxFor(x => x.Summary, new { @class = "form-control" })
            </div>
            <div>
                <p>
                    <h3 style="text-align:center">Contents :</h3>
                </p>
                @Html.TextBoxFor(x => x.Contents, new { @class = "form-control" })
            </div>
            <div>
                <p>
                    <h3 style="text-align:center">Day :</h3>
                </p>
                @Html.TextBoxFor(x => x.Date , new { @class = "form-control" })
            </div>
            <div>
                <p>
                    <h3 style="text-align:center">Image :</h3>
                </p>
                @Html.TextBoxFor(x => x.Img, new { @class = "form-control" })
            </div>
            <div>
                <p>
                    <h3 style="text-align:center">ID_Admin :</h3>
                </p>
                @Html.TextBoxFor(x => x.IDAdmin, new { @class = "form-control" })
            </div>
            <div>
                <p>
                    <h3 style="text-align:center">ID_Menu :</h3>
                </p>
                @Html.TextBoxFor(x => x.ID_Menu, new { @class = "form-control" })
            </div>
        <div>
            <input type="submit" style="margin-top:15px"/>
        </div>
        </div>}
</div>