@model PagedList.IPagedList<doan_htttdn.FF.ARTICLE>
@using PagedList.Mvc;
@{
    ViewBag.Title = "InNewscate";
    Layout = "~/Areas/USER/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CLato:300,400" rel="stylesheet">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Assets/Article/magnews/css/bootstrap.min.css" />
    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="~/Assets/Article/magnews/css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="~/Assets/Article/magnews/css/owl.theme.default.css" />
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Assets/Article/magnews/css/font-awesome.min.css">
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Assets/Article/magnews/css/style.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row" style="width:100%">
            <div class="col-md-12">
                @Html.Action("Menu", "TinTuc")

                @{ int i = 0;

                    <div class="row" style="margin-top:20px">
                        <!-- Column 1 -->
                        <div class="col-md-8">
                            @foreach (var item in Model)
                            {
                                if (i < 4)
                                {
                                    <div class="col-md-11 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article widget-article">
                                            <div class="article-img" style="width:300px">
                                                <a href="/User/TinTuc/Detail/@item.ID_Article">
                                                    <img src="~/Assets/Image/IMGAR/@item.Image" alt="">
                                                </a>
                                            </div>
                                            <div class="article-body">
                                                <h2 class="article-title" style="font-size:20px"><a href="/User/TinTuc/Detail/@item.ID_Article">@item.Title</a></h2>
                                                <ul class="article-meta">
                                                    <li><i class="fa fa-clock-o" style="color:#000000;font-size:15px"> @item.Day </i></li>
                                                    <li><i></i> <p style="color:#000000;margin-top:10px;font-size:15px">&#9679  @item.Summary</p></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                }
                                else
                                {
                                    break;
                                }
                                i++;
                            }
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-8"> </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="article-pagination" style="text-align:center">
                        <ul>
                            @Html.PagedListPager(Model, Page => Url.Action("InNewscate", new { Page, cateid = ViewBag.cateid }))
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>




</body>

