@model IEnumerable<doan_htttdn.FF.ARTICLE>

@foreach (var item in Model)
{
<tr>
    <td>@item.ID_Article</td>
    <td>@item.Title</td>
    <td>@item.Summary</td>
    <td>@item.Img</td>
    <td>@item.Date</td>
    <td>@item.IDAdmin</td>
    <td><a href="@Url.Action("Showar", "TinTuc", new { id = item.ID_Article })">Show</a></td>
    <td><a href="@Url.Action("Aredit", "TinTuc", new { id = item.ID_Article })">Update</a></td>
</tr>
}