@model doan_htttdn.FF.ARTICLEs
@{
    ViewBag.Title = "ShowAr";
}

<div>
    <p>
        <label>ID_Article :</label>
        @Html.Label(Model.ID_Article.ToString())
    </p>
    <p>
        <label>Title :</label>
        @Html.Label(Model.Title.ToString())
    </p>
    <p>
        <label>Summary :</label>
        @Html.Label(Model.Summary.ToString())
    </p>
    <p>
        <label>Contents :</label>
        @Html.Label(Model.Contents.ToString())
    </p>
    <p>
        <label>Image :</label>
        @Html.Label(Model..ToString())
    </p>
    <p>
        <label>Day : </label>
        @Html.Label(Model.Date.ToString())
    </p>
    <p>
        <label>ID_Admin :</label>
        @Html.Label(Model.IDAdmin.ToString())
    </p>
</div>

