@model doan_htttdn.FF.RIGISTRATION_COURSE

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ADMIN/Views/Shared/_LayoutADD.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RIGISTRATION_COURSE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COURSE.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameParent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameParent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIRTHDAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIRTHDAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDRegist }) |
    @Html.ActionLink("Back to List", "Index")
</p>
