@model doan_htttdn.FF.TEACHER

@{
    ViewBag.Title = "Them";
    Layout = "~/Areas/ADMIN/Views/Shared/_LayoutADD.cshtml";
}


<script type="text/javascript" src="~/Assets/GIAOVIEN/js/JavaScript.js"></script>

@using (Html.BeginForm("Them","GiaoVien",FormMethod.Post, new { @onsubmit = "return botdiche()" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" >
    <h3>Thêm Giáo Viên</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div >
        <div class="form-group">
            @Html.Label("Tên Giáo Viên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "namegv" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Giới Tính", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control", @id = "sexgv" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Số Điện Thoại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @id = "phonegv" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Địa Chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control", @id="diachigv" } })
                @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" @*id="email"*@>
                @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id="email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Trình Độ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Knowledge, new { htmlAttributes = new { @class = "form-control", @id="trinhdogv" } })
                @Html.ValidationMessageFor(model => model.Knowledge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Trạng Thái", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Status, new { htmlAttributes = new { @class = "form-control",@id="trangthaigv" } })
                @*@Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Thêm" class="btn btn-default" />*@
                @*<input type="button" value="thêm" onclick="return  matchinfor()"/>*@
                <input type="submit" name="btchange" value="Lưu" class="btn btn-default" />
            </div>
        </div>


    </div>
</div>
}
    <div>
        @Html.ActionLink("Quay Lại", "GiaoVien")
    </div>
    @*<script type="text/javascript">
    function test() {
        alert("ahihi");
    }

        function matchinfor() {
            var name = document.getElementById('namegv');
            var phone = document.getElementById('phonegv');
            var sex = document.getElementById('sexgv');
            var diachi = document.getElementById('diachigv');
            var filter = /^([a-zA-Z0-9_\.\-])+\ @(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/; 
            if (name == null)
                alert("Chưa nhập họ tên");
            if (sex == null)
                alert("Chưa nhập giới tính");
            if (phone == null || phone != null && Number.isNaN(phone) == false) {
               alert("Nhập lại số điện thoại");
            }
            if (diachi == null)
                alert("Chưa nhập địa chỉ");
            if (!filter.test(email.value)) {
                alert("Hãy nhập địa chỉ mail hợp lệ.\nExample@gmail.com");
                email.focus;
                return false;
            }
            else
                return false;
            }
    
    </script>*@